In [27]:
import pandas as pd
import openpyxl as op
df= pd.read_excel('C:\\Users\\people\\Desktop\\KDT\\coding\\DATA\\남북한발전전력량.xlsx')

In [28]:
print(df)
df

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [69]:
df.loc[9]=0
df.loc[9][1]= '신재생'
df.loc[9][0]='NaN'
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        # print(df.iloc[i, j])
        if df.iloc[i, j] == '-':
            df.iloc[i, j] = 0
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9         0      0     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016  30
0  4336  4747  4969  5096  5171  5220  5281  5404  합계
1    56    65    78    77    84    78    58    66  합계
2  2802  3196  3343  3430  3581  3427  3402  3523  합계
3  1478  1486  1547  1503  1388  1564  1648  1620  합계
4     0     0     0    86   118   151   173   195  합계
5   235   237   211   215   221   216   190   239  합계
6   125   134   132   135   139   130   100   128  합계
7   110   103    79    80    82    86    90   111  합계
8     0     0     0     0     0     0     0     0  합계
9     0     0     0     0     0     0     0     0   0

[10 rows x 30 columns]

C:\Users\people\AppData\Local\Temp\ipykernel_1544\3088280803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[9][1]= '신재생'
C:\Users\people\AppData\Local\Temp\ipykernel_1544\3088280803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[9][1]= '신재생'
C:\Users\people\AppData\Local\Temp\ipykernel_1544\3088280803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[9][0]='NaN'
C:\Users\people\AppData\Local\Temp\ipykernel_1544\3088280803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[9][0]='NaN'

In [77]:
def total(num):
    num=int(num)               #합계 도출하는 함수 생성
    water=(df.iloc[num])     #한 행만 추출
    water= list(water)
    water= water[3:29]      #숫자만 추출
    print(water)
    water= list(map(int, water))
    print(water)
    x=0
    for w in water:
        x+=w
    return x

In [78]:

df['합계']=[total(1), total(2), total(3), total(4), total(5), total(6), total(7), total(8), total(9), total(10)]

print(df)
# ???????

[51, 49, 60, 41, 55, 52, 54, 61, 61, 56, 42, 53, 69, 59, 52, 52, 50, 56, 56, 65, 78, 77, 84, 78, 58, 66]
[51, 49, 60, 41, 55, 52, 54, 61, 61, 56, 42, 53, 69, 59, 52, 52, 50, 56, 56, 65, 78, 77, 84, 78, 58, 66]
[573, 696, 803, 1022, 1122, 1264, 1420, 1195, 1302, 1518, 1689, 1821, 1859, 2056, 2127, 2272, 2551, 2658, 2802, 3196, 3343, 3430, 3581, 3427, 3402, 3523]
[573, 696, 803, 1022, 1122, 1264, 1420, 1195, 1302, 1518, 1689, 1821, 1859, 2056, 2127, 2272, 2551, 2658, 2802, 3196, 3343, 3430, 3581, 3427, 3402, 3523]
[563, 565, 581, 587, 670, 739, 771, 897, 1031, 1090, 1121, 1191, 1297, 1307, 1468, 1487, 1429, 1510, 1478, 1486, 1547, 1503, 1388, 1564, 1648, 1620]
[563, 565, 581, 587, 670, 739, 771, 897, 1031, 1090, 1121, 1191, 1297, 1307, 1468, 1487, 1429, 1510, 1478, 1486, 1547, 1503, 1388, 1564, 1648, 1620]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 86, 118, 151, 173, 195]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 86, 118, 151, 173, 195]
[263, 247, 221, 231, 230, 213, 193, 170, 186, 194, 202, 190, 196, 206, 215, 225, 236, 255, 235, 237, 211, 215, 221, 216, 190, 239]
[263, 247, 221, 231, 230, 213, 193, 170, 186, 194, 202, 190, 196, 206, 215, 225, 236, 255, 235, 237, 211, 215, 221, 216, 190, 239]
[150, 142, 133, 138, 142, 125, 107, 102, 103, 102, 106, 106, 117, 125, 131, 126, 133, 141, 125, 134, 132, 135, 139, 130, 100, 128]
[150, 142, 133, 138, 142, 125, 107, 102, 103, 102, 106, 106, 117, 125, 131, 126, 133, 141, 125, 134, 132, 135, 139, 130, 100, 128]
[113, 105, 88, 93, 88, 88, 86, 68, 83, 92, 96, 84, 79, 81, 84, 99, 103, 114, 110, 103, 79, 80, 82, 86, 90, 111]
[113, 105, 88, 93, 88, 88, 86, 68, 83, 92, 96, 84, 79, 81, 84, 99, 103, 114, 110, 103, 79, 80, 82, 86, 90, 111]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

IndexError: single positional indexer is out-of-bounds

In [76]:
water=(df.iloc[1])
print(water)

전력량 (억㎾h)    NaN
발전 전력별        수력
1990          64
1991          51
1992          49
1993          60
1994          41
1995          55
1996          52
1997          54
1998          61
1999          61
2000          56
2001          42
2002          53
2003          69
2004          59
2005          52
2006          52
2007          50
2008          56
2009          56
2010          65
2011          78
2012          77
2013          84
2014          78
2015          58
2016          66
30            합계
Name: 1, dtype: object